
$f-12:12px;
$f-14:14px;
// 颜色
$white-color:#fff;
$blue-color:#2376c4;
$Grass-green-color:#0fcd1a;

// 文字颜色
$title-color:#333;
$font-gray:#666;
$font-light-gray:#999;
$font-blue:#2274be;
// 其他
$line-color:#ededed;
$grid-line-color:#bbb;
