.fr {
    float: right;
}
.fl{float: left;}
.clear {
    &::after {
        clear: both;
        content: "";
        display: block;
        width: 0;
        height: 0;
    }
}
// 颜色
$white-color:#fff;
$blue-color:#2475c4;

// 文字颜色
$title-color:#333;
$font-gray:#666;
$font-light-gray:#999; 